html{
    height: 100%;
}

body{ 
    margin:0;
    padding:0;
    overflow:hidden;
    height:100%;
}

.card-body2 {
    flex: 1 1 auto;
    padding: 0.8rem;
}

.dashboard-row-padding-bottom {
    padding-bottom: 1em;
}

.dashboard-column-title {
    width: 21rem;
    height: 2rem;
    margin-bottom: 1rem;
    color: black;
    text-align: center;
    background: transparent;
    border-color: transparent;
    padding: 0;
    width: 100%;
}

.dashboard-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

a.dashboard-card-icon {
    float: right;
}

#app {
    height: 120%;
}

#dashboard {
    height: 100%;
    overflow-y: auto;
    padding-right: 20px;
}

#table-cards, #dashboard-rows-container {
    /* height: 1540px!important; */
    height: calc(100% + 45rem);
}

#work-items-container {
    max-height: 44em;
    height: 44em;
    overflow-y: auto;
    overflow-x: hidden;
}

.badge-card-title {
    margin-bottom: 0.5rem;
    font-size: 1.2em;
}

.badge-card-title-2 {
    height:1.5em;
    font-size:1.5em;
}

.margin-bottom {
    margin-bottom: 0.5rem;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI VSS (Regular)", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #e0e0e0;
}

/* link to the release pipeline*/
a.dashboard-release {
    text-decoration: none !important;
    color: black !important;
    width: 13em;
    max-width: 13em;
    display: inline-block;
}

.failed-status-icon:before {
    content: "\f057";
    font-family: "Font Awesome 5 Free";
    color: red;
    padding-left: 1em;
}
.failed-status {
    color: red;
}
.align-center {
    text-align: center;
}
.align-top {
    vertical-align: top;
    display: inline-block;
}
.succeeded-status-icon:before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    color: green;
    padding-left: 1em;
}
.succeeded-status {
    color: green;
}

.pending-status-icon:before {
    content: "\f017";
    font-family: "Font Awesome 5 Free";
    color: blue;
    padding-left: 1em;
}
.pending-status {
    color: blue;
}

.row-text-bold {
    font-weight:bold;
}
.row-underline {
    border-bottom: 0.05rem solid #ccc;
    margin: 0 0.5rem;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s ease-out;
  }
  
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }