html{
    height: 100%;
}

body{ 
    margin:0;
    padding:0;
    overflow:hidden;
    height:100%;
}

.dashboard-column-title {
    width: 21rem;
    height: 2rem;
    margin-bottom: 1rem;
    color: black;
    text-align: center;
    background: transparent;
    border-color: transparent;
    padding: 0;
    width: 100%;
}

.dashboard-title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

a.dashboard-card-icon {
    float: right;
}

#app {
    height: 120%;
}

#dashboard {
    height: 100%;
    /*overflow-y: auto;*/
    padding-right: 20px;
}

#work-items-container {
    max-height: 44em;
    height: 44em;
    overflow-y: auto;
    overflow-x: hidden;
}

.badge-card-title {
    margin-bottom: 0.5rem;
    font-size: 1.2em;
}

.badge-card-title-2 {
    height:1.5em;
    font-size:1.5em;
}

.card-light {
    background-color:#E9E9E9;
}

.margin-bottom {
    margin-bottom: 0.5rem;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI VSS (Regular)", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #e0e0e0;
}

/* link to the release pipeline*/
a.dashboard-release {
    text-decoration: none !important;
    color: black !important;
}

.failed-status-icon:before {
    content: "\f057";
    font-family: "Font Awesome 5 Free";
    color: red;
    padding-left: 1em;
}
.failed-status {
    color: red;
}
.align-center {
    text-align: center;
}
.align-top {
    vertical-align: top;
    display: inline-block;
}
.succeeded-status-icon:before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    color: green;
    padding-left: 1em;
}
.succeeded-status {
    color: green;
}

.pending-status-icon:before {
    content: "\f017";
    font-family: "Font Awesome 5 Free";
    color: blue;
    padding-left: 1em;
}
.pending-status {
    color: blue;
}

.row-text-bold {
    font-weight:bold;
}
.row-underline {
    border-bottom: 0.05rem solid #ccc;
    margin: 0 0.5rem;
}

.card-options {
    min-height: 80px! important;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s ease-out;
}
  
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.table-fixed thead {
    width: 100%;
}

.table-fixed tbody {
    height: 75px;
    overflow-y: auto;
    width: 100%;
}


.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}

.table-cards thead tr th:first {
    width: 15px!important;
}

.table-cards tbody tr td:first {
    width: 15px!important;
}

.td-legend {
    padding-left:5px; line-height: 40px; overflow: hidden
}

card-body2 table body tr td:nth-child(0) {
    width: 60%;
}

card-body2 table body tr td:nth-child(1) {
    width: 20%;
}

card-body2 table body tr td:nth-child(2) {
    width: 10%;
}


a.tip {
    position: relative;
}

a.tip span {
    display: none;
    position: absolute;
    top: -30px;
    left: 125%;
    width: 125px;
    padding: 15px;
    z-index: 100;
    background:#5f9dc1;
    color: #fff;
    -moz-border-radius: 5px; /* this works only in camino/firefox */
    -webkit-border-radius: 5px; /* this is just for Safari */
}

a.tip span:before{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-right:8px solid #5f9dc1;
    left:-8px;
    
    top:31px;
}

a:hover.tip {
    font-size: 99%; /* this is just for IE */
}

a:hover.tip span {
    display: block;
}

a span p.font-weight-bold {
    height: 7px;
}